@using Cyberquiz.Shared.DTOs
<h3>CategoryCard</h3>

<div class="card mb-3" style="cursor: pointer;" @onclick="HandleClick">
    <div class="card-body">
        <h5 class="card-title">@Category.Name</h5>
        @* <p class="card-text">@Category.Description</p> *@
    </div>
    <div>
        <button class="btn btn-primary" @onclick="HandleClick">
            Välj kategori
        </button>
    </div>
    <p>@Category.CompletedSubCategories / @Category.TotalSubCategories</p>
</div>

@code {
    [Parameter]
    public CategoryDto Category { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync();
    }
}