@using Cyberquiz.Shared.DTOs
<h3>CategoryList</h3>

@if (Categories == null)
{
    <p>Loading...</p>
}
else if (Categories.Count == 0)
{
    <p>No categories found.</p>
}
else
{
    @foreach (var category in Categories)
    {
        <CategoryCard Category="category" OnCategorySelected="OnCategorySelected" />
    }
}
@code {
    [Parameter]
    public List<CategoryDto>? Categories { get; set; }

    [Parameter]
    public EventCallback<int> OnCategorySelected { get; set; }
}
