@using Cyberquiz.Shared.DTOs
<h3>SubCategoryList</h3>

<ul>
    @if (SubCategories == null)
    {
        <p>Loading...</p>
    }
    else if (SubCategories.Count == 0)
    {
        <p>No subcategories found.</p>
    }
    else
    {
        @foreach (var subCategory in SubCategories)
        {
            <SubCategoryRow SubCategory="subCategory" OnStartQuiz="OnStartQuiz" />
        }
    }
</ul>

@code {
    [Parameter]
    public List<SubCategoryDto>? SubCategories { get; set; }

    [Parameter]
    public EventCallback<int> OnStartQuiz { get; set; }
}
