@using Cyberquiz.Shared.DTOs
<h3>SubCategoryRow</h3>

<li>
    <span>@(SubCategory.IsLocked ? "🔒" : "🔓")</span>
    <p>@SubCategory.Name</p>
    <p>Level: @SubCategory.Order</p>

    @if (SubCategory.IsCompleted)
    {
        <p>✅ Completed</p>
    }
    else if (!SubCategory.IsLocked)
    {
        <button class="btn btn-primary" @onclick="() => OnStartQuiz.InvokeAsync(SubCategory.Id)">
            Start Quiz
        </button>
    }

</li>


@code {
    [Parameter]
    public SubCategoryDto SubCategory { get; set; }

    [Parameter]
    public EventCallback<int> OnStartQuiz { get; set; }
}
